<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,500;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(38, 51, 80);
            color: white;
            font-family: 'Poppins', sans-serif;
            padding: 0;
            margin: 0;
            height: 718px;
            width: 100%;
        }
        #princp{
            height: 718px;
        }
        #mainp{
            height: 719px;
            width: 50%;
            /* border: 1px solid white; */
            background-image: url(/pic/twibk2.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            background-color: rgba(1,74,127,255);
        }
        .cred{
            position: relative;
            bottom: 719.3px;
            height: 722px;
            width: 49.8%;
            /* border: 1px solid white; */
            float: right;
            background-color: rgb(0, 0, 0);
            border-left: 1px solid white;
        }
        .fa-twitter{
            font-size: 60px;
            margin-left: 42%;
            margin-top: 100px;
        }
        #container h2{
            margin-left: 150px;
        }
        #container h1, h2{
            margin-left: 120px;
        }
        a{
            /* border: 1px solid white; */
            border-radius: 20px;
            padding: 10px;
            text-decoration: none;
            color:white;
            background-color: rgb(6, 131, 248);
            margin-left: 42%;
        }
        a:hover{
            background-color: white;
            border: 2px solid white;
            color: black;
            /* border: none; */
        }
        .reg{
            width: 200px;
            /* background-color: transparent; */
            margin-top: 10px;
        }
        .log{
            margin-left: 42.8%;
        }
        #container p{
            margin-left: 222px;
            font-weight: bolder;
        }
    </style>
    </head>
    <body>
    <div id="princ">
        <div id="mainp">
            
        </div>
        <div class="cred">
            <header>
                <i class="fab fa-twitter"></i>
            </header>
            <div class="main">
                <div id="container">
                    <h1>Welcome to Twitter</h1>
                    <h2>It's happening here.</h2>
                    <p id="tit3">Join us today ↓</p><br><br><br>
                    <a class="reg" href="/register">Sign Up</a><br><br><br>
                    <a class="log" href="/login">Sign in</a>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>